body {
  margin: 0;
}

h1 {
  position: absolute;
  top: 1rem;
  margin: 0;
  padding: 1rem;
  z-index: 999;
}

.search {
  z-index: 999;
  width: 100%;
  position: absolute;
  font-size: 2rem;
  top: 20px;
  max-width: 400px;
  transform: translateX(-40%);
  left: 50%;
}

.search input {
  width: 100%;
  padding: 0.5rem 3rem;
  font-size: 1rem;
}

.myLocate {
  position: absolute;
  top: 35px;
  right: 2.5rem;
  z-index: 999;
  color: rgb(31, 160, 235);
  background-color: transparent;
  border: none;
  outline: none;
  cursor: pointer;
}
